html
  head
    title /b/#{board}
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="author" content="Chris McCormack")

    link(rel="stylesheet" type="text/css" href="/styles/styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")

    link(rel='apple-touch-icon', sizes='180x180', href='/images/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/images/favicon-16x16.png')
    link(rel='manifest', href='/images/site.webmanifest')
    link(rel='mask-icon', href='/images/safari-pinned-tab.svg', color='#5bbad5')
    link(rel='shortcut icon', href='/images/favicon.ico')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-config', content='/images/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')

  body
    header
      h1 Welcome to /b/#{board}

    main
      section#submit_thread
        form#new-thread-form(action=`/api/threads/${board}` method="POST")
          span.form-title Submit a new thread:
          div.input-row
            label(for="new-thread-text-input") Thread Text
                span  - Required
            textarea#new-thread-text-input(
                type="text"
                placeholder="random"
                name="text"
                minLength="1"
                rows="4"
            )
          div.input-row
            label(for="new-thread-password-input") Deletion Password
                span  - Required
            input#new-thread-password-input(
                type="text" placeholder="monkey123" name="password" minLength="1")
          button.submit-btn(type="submit") Submit

          div.input-row
            pre.output.hidden

      section#view_threads
        each thread in threads
          div.thread
            div.thread-info-row(id=thread._id)
              span.info-item.thread-id thread_id: #{thread._id}
              span.info-item.thread-bumped-on last bumped: #{thread.bumped_on.toUTCString()}
              button.thread-report-btn(value=thread._id) Report
            div.thread-text= thread.text

            form.delete-thread(
              action=`/api/threads/${board}`
              method="DELETE"
            )
              div.thread-delete-row
                input.thread-delete-input(
                  name="delete_password"
                  placeholder="delete_password"
                  type="text"
                )
                button.thread-delete-btn(
                  name="submit"
                  type="submit"
                  value=thread._id
              ) Delete Thread

            if thread.replies.length > 0
              div.reply-count-row
                span.reply-count= `${thread.replyCount} replies total `
                 = `(${thread.replyCount - thread.replies.length} hidden)`
                a.view-link(href=`/b/${board}/${thread._id}`) view all threads
              div.thread-replies
                each reply in thread.replies
                  div.reply(id=reply._id)
                    div.reply-info-row
                      span.info-item.reply-id reply_id: #{reply._id}
                      span.info-item.reply-created #{reply.created_on.toUTCString()}
                      button.reply-report-btn(value=`${JSON.stringify({reply, thread})}`) Report
                    div.reply-text=reply.text
                    unless reply.text === '[deleted]'
                      form.delete-reply(
                        action=`/api/replies/${board}`
                        method="DELETE"
                      )
                        div.reply-delete-row
                          input.reply-delete-input(
                            name="delete_password"
                            placeholder="delete_password"
                            type="text"
                          )
                          button.reply-delete-btn(
                            name="submit"
                            type="submit"
                            value=`${JSON.stringify({reply_id: reply._id, thread_id: thread._id})}`
                        ) Delete Reply
            
            div.thread-replies
              div.quick-reply
                form.quick-reply-form(action=`/api/replies/${board}` method="POST")
                  div.quick-reply-title Add a new reply!
                  textarea.quick-reply-input(
                    type="text"
                    placeholder="Quick reply.."
                    name="text"
                    minLength="1"
                    rows="4"
                  )
                  div.quick-reply-submit-row
                    input.quick-reply-delete-input(
                      name="delete_password"
                      placeholder="delete_password"
                      type="text"
                    )
                    button.quick-reply-submit-btn(
                      type="submit" value=thread._id
                      name="submit"
                    ) Submit

    script(src="/scripts/board.js")
